##########################################################################
# ENVIRONMENT SETUP
#
# * commented out lines are the default
##########################################################################

DOMAIN_NAME="example.com"
ADMIN_USER="admin"

##################################################################
# DIRECTORY SETUP
#
# * You must customize these paths to match your own setup
# * For my personal setup, I have a NAS mounted at /media/storage
##################################################################